* {
  box-sizing: border-box;
}

.page {
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 1600px;
  min-width: 1100px;
  color: #000;
}

.header {
  background: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
}

.header__title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.6px;
  line-height: 72px;
  margin: 183px 0 0;
  max-width: 729px;
}

.header__span-accent {
  color: #3f96f3;
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin-top: 28px;
}

.header__image {
  max-width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
  font-weight: 500;
}

.header__paragraph {
  margin: 0;
  align-self: flex-end;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  column-gap: 20px;
  display: flex;
  list-style: none;
  margin: 0;
}

.nav__link {
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.nav__logo {
  height: 39px;
  width: 105px;
  position: relative;
  left: -30px;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a2750;
  padding: 100px 80px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.recipes__title {
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  max-width: 438px;
  margin: 24px 0 0;
}

.recipes__videos {
  max-width: 1040px;
  margin: 80px auto 115px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
